fastapi
uvicorn
python-multipart

faster-whisper
moviepy
ffmpeg-python

langchain
langchain_core
langchain-community
langchain-huggingface
langchain-groq

sentence-transformers
chromadb

groq
python-dotenv